// Helper Classes
.cover {
    @extend %bg-cover;
}

.overflow-h {
    overflow: hidden;
}

/* Colors */

.wt-color-primary {
    color: #006035;
}

.wt-color-primary * {
    color: #006035;
}

.wt-color-secondary {
    color: #ffcc00;
}

.wt-color-secondary * {
    color: #ffcc00;
}

.wt-color-white {
    color: white;
}

.wt-color-white * {
    color: white;
}

.wt-background-primary {
    background-color: #006035;
}

.wt-background-secondary {
    background-color: #ffcc00;
}
