* {
    box-sizing: border-box;
}

html {
    font-family: "Exo 2", sans-serif !important;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: black;
    background-color: #006035;
}

em {
    color: inherit;
}

.counter {
    text-align: center;
    border-radius: 4px;
}

.counter-main {
    position: relative;
    padding: em(6) 0 em(24);
}

.counter-group {
    position: relative;
    margin: 0 0.3%;
    display: inline-block;
    width: 20%;
}

.counter-inside {
    position: relative;
    margin: 0 1px;
    padding: 0;
    display: inline-block;
    color: #000;
    font-size: em(28);
    line-height: em(24, 28);
    font-weight: 900;
    text-align: center;

    @include media(">=phone") {
        font-size: em(40);
        line-height: em(36, 40);
    }
}

.counter-label {
    display: block;
    width: 100%;
    position: absolute;
    bottom: -15px;
    left: 0;
    font-size: em(10);
    line-height: em(10, 10);
    font-weight: 900;
    text-transform: uppercase;

    @include media(">=phone") {
        font-size: em(14);
        line-height: em(14, 14);
    }
}
