* {
  box-sizing: border-box;
}

/* Fonts */
@font-face {
  font-family: 'exo_2black';
  src: url('../fonts/') format('woff2'),
       url('../fonts/exo2-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'exo_2bold';
  src: url('../fonts/exo2-bold-webfont.woff2') format('woff2'),
       url('../fonts/exo2-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'exo_2regular';
  src: url('../fonts/exo2-regular-webfont.woff2') format('woff2'),
       url('../fonts/exo2-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html {
  font-family: "exo_2black", sans-serif !important;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: black;
}

body {
    width: 404px;
    height: 182px;
    margin: 0 auto;
    overflow: hidden;
}

*+.uk-h1,
*+.uk-h2,
*+.uk-h3,
*+.uk-h4,
*+.uk-h5,
*+.uk-h6,
*+h1,
*+h2,
*+h3,
*+h4,
*+h5,
*+h6 {
  margin: 0 0 0 0;
  font-family: "exo_2bold", sans-serif !important;
}

.uk-container {
  padding: 0 5px;
}

.wt-heading {
  font-family: "exo_2regular", sans-serif !important;
  color: black;
}

em {
  color: inherit;
}

/* Colors */

.wt-color-primary {
  color: #006035;
}

.wt-color-primary * {
  color: #006035;
}

.wt-color-secondary {
  color: #ffcc00;
}

.wt-color-secondary * {
  color: #ffcc00;
}

.wt-color-white {
  color: white;
}

.wt-color-white * {
  color: white;
}

.wt-background-primary {
  background-color: #006035;
}

.wt-background-secondary {
  background-color: #ffcc00;
}

.wt-section-page {
  padding: 5px 0;
}

.logo {
  width: 55px;
}

.wt-page-title {
  font-size: 12px;
}

.wt-page-subtitle {
  font-family: "exo_2bold", sans-serif !important;
  font-size: 10px;
  line-height: 10px;
}

.wt-section-title {
  margin: 0;
  margin-bottom: 1px;
  font-size: 10px;
  line-height: 10px;
  font-family: "exo_2bold", sans-serif !important;
}

.wt-title-footer {
  margin-top: 0;
  margin-bottom: 1px;
  font-size: 10px;
  line-height: 10px;
}

.counter {
  text-align: center;
}

.counter-main {
  position: relative;
  overflow: hidden;
  padding: 0 0 5px;
  text-align: center;
}

.counter-group {
  position: relative;
  margin: 0 0.3%;
  display: inline-block;
  width: 20%;
}

.counter-inside {
  position: relative;
  margin: 0 1px;
  padding: 0;
  display: inline-block;
  color: #000;
  font-size: 14px;
  letter-spacing: -0.4px;
  font-weight: 900;
  text-align: center;
}

.counter-label {
  display: block;
  width: 100%;
  position: absolute;
  bottom: -10px;
  left: 0;
  font-size: 8px;
  font-weight: 300;
  /*text-transform: uppercase;*/
}

.list-logos {
    margin-left: -4px;
    margin-right: -4px;
}

.list-logos > div {
    flex: 0 0 20%;
    padding: 2px 10px;
}

.mt-footer {
    margin-top: 12px;
}

.uk-margin-bottom {
  margin-bottom: 5px !important;
}