* {
  box-sizing: border-box;
}

html {
  font-family: "Exo 2", sans-serif !important;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: black;
  background-color: #006035;
}

body {
    /* margin: 0 auto; */
    width: 96.333%;
    height: 384px;
    overflow: hidden;
}

+.uk-h1,
*+.uk-h2,
*+.uk-h3,
*+.uk-h4,
*+.uk-h5,
*+.uk-h6,
*+h1,
*+h2,
*+h3,
*+h4,
*+h5,
*+h6 {
  margin: 0 0 0 0;
  font-family: "Exo 2", sans-serif !important;
}

.uk-container {
  padding: 0 5px;
}

.wt-heading {
  font-family: "Exo 2", sans-serif !important;
  color: black;
}

em {
  color: inherit;
}

/* Colors */

.wt-color-primary {
  color: #006035;
}

.wt-color-primary * {
  color: #006035;
}

.wt-color-secondary {
  color: #ffcc00;
}

.wt-color-secondary * {
  color: #ffcc00;
}

.wt-color-white {
  color: white;
}

.wt-color-white * {
  color: white;
}

.wt-background-primary {
  background-color: #006035;
}

.wt-background-secondary {
  background-color: #ffcc00;
}

.wt-section-page {
  padding: 5px 0;
}

.logo {
  max-width: 120px;
}

.wt-page-title {
  font-size: 26px;
}

.wt-page-subtitle {
  font-family: "Exo 2", sans-serif !important;
  font-size: 16px;
  line-height: 18px;
}

.wt-section-title {
  margin: 0;
  margin-bottom: 2px;
  font-size: 17px;
  line-height: 17px;
  font-family: "Exo 2", sans-serif !important;
}

.wt-section-title-small {
  margin-top: 8px;
  font-size: 13px;
  line-height: 13px;
  font-family: "Exo 2", sans-serif !important;
}

.wt-title-footer {
  margin-top: 4px;
  margin-bottom: 2px;
  font-size: 12px;
  line-height: 12px;
}

.counter {
  text-align: center;
}

.counter-main {
  position: relative;
  overflow: hidden;
  padding: 2px 0 14px;
  text-align: center;
}

.counter-group {
  position: relative;
  margin: 0 0.3%;
  display: inline-block;
  width: 20%;
}

.counter-inside {
  position: relative;
  margin: 0 1px;
  padding: 0;
  display: inline-block;
  color: #000;
  font-size: 30px;
  letter-spacing: -0.4px;
  font-weight: 900;
  text-align: center;
}

.counter-main-small .counter-inside {
  font-size: 24px;
}

.counter-label {
  display: block;
  width: 100%;
  position: absolute;
  bottom: -15px;
  left: 0;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
}

.counter-main-small .counter-label {
  font-size: 10px;
  bottom: -16px;
}

/* .list-logos {
    margin-left: -4px;
    margin-right: -4px;
}

.list-logos > div {
    flex: 0 0 20%;
    padding: 2px 4px;
} */

.mt-footer {
    margin-top: 18px;
}
